body{
  background-color: rgb(39, 39, 39);
}

h1, h6{
  font-family: voces, sans-serif;
}
/* hero */
.hero{
  background-image: url("./images/portfolio-main.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.hero h1{
  color: white;
  text-align: end;
  margin-right: 1.5vw;
}
.hero svg{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  height: 80vh;
}

svg .draw{
  stroke-width: 25px;
  fill: transparent;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: animate 5s linear forwards;
}

/* .hero span:nth-child(1){
  animation-delay: 5s;
} */

@keyframes animate{
  from{
    stroke-dashoffset: 5000;
  }
  to{
    stroke-dashoffset: 0;
  }
}
/* @keyframes glow{

} */

/* end hero */
/* skills */
.skills{
  padding: 5rem 0;
  color: white;
  background-image: linear-gradient(45deg, rgb(0, 140, 204, 0.6), rgb(255,179,0, 0.6), rgb(255,117, 0, 0.6));
  text-align: center;
}

.skills h6{
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.skills-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.skill span {
  display: inline-block;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 992px) {
  .skills-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end skills */