body {
  background-attachment: fixed;
  background-image: url("./images/portfolio-main.jpg");
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Prompt', sans-serif;
  font-size: 40px;
  margin: 16px;
  text-shadow: 3px 3px 5px #000;
}

h2 {
  font-family: 'Splash', cursive;
  font-size: 64px;
  margin: 16px;
}

h3 {
  color: #ffffff;
  font-family: 'Prompt', sans-serif;
  font-size: 36px;
  text-decoration: none;
}

/* hero */
.hero {
  height: 100vh;
}

.hero h1 {
  color: white;
  text-align: end;
  margin-right: 1.5vw;
}

.hero svg {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  height: 80vh;
}

svg .draw {
  stroke-width: 20px;
  fill: transparent;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: animate 5s linear forwards;
}

@keyframes animate {
  from {
    stroke-dashoffset: 5000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
/* end hero */
/* projects */
.projects-section {
  background-color: rgb(39, 39, 39, 0.9);
  padding: 16px 0;
  color: #ffffff;
  text-align: center;
}

.project-container {
  display: flex;
  justify-content: space-evenly;
  margin: 24px;
}

@media screen and (max-width: 992px) {
  .project-container {
    flex-direction: column;
  }

  .project-container:nth-child(odd) {
    flex-direction: column-reverse;
  }
}

.project-image {
  margin: 0px 16px;
}

.project-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.project-info {
  margin: 0px 24px;
}

.project-info a {
  color: #ffffff;
  text-decoration: none;
}

.project-info a:hover {
  background: linear-gradient(to right, rgb(0, 140, 204, 0.6), rgb(255,179,0, 0.6), rgb(255,117, 0, 0.6));
  background-repeat: repeat-x;
  background-size: 100% 4px;
  background-position: 0 90%;
}
/* end projects */
/* skills */
.skills{
  padding: 2rem 0;
  color: white;
  background-image: linear-gradient(45deg, rgb(0, 140, 204, 0.6), rgb(255,179,0, 0.6), rgb(255,117, 0, 0.6));
  text-align: center;
}

.skills h6{
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.skills-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.skill span {
  display: inline-block;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 992px) {
  .skills-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end skills */
/* about */
.about{
  padding: 2rem 0;
  color: white;
  font-size: 1.1rem;
}

.about img{
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.about h1{
  text-align: center;
}

.about p{
  margin-top: 0;
}

.about-me-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.pic,
.info {
  word-wrap: break-word;
  font-family: 'Prompt', sans-serif;
}

@media screen and (min-width: 992px) {
  .about-me-info{
    width: 95vw;
    max-width: 1170px;
  }
  .about-me-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
.social{
  font-size: 3rem;
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}

.social a{
  color: white;
}
/* end about */