body {
  background-color: rgb(39, 39, 39);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* stops page scroll entirely */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: "";
  position: fixed;      /* fixed to viewport */
  inset: 0;             /* top:0;right:0;bottom:0;left:0 */
  z-index: 0;
  background-image: url("./images/portfolio-main.jpg");
  background-repeat: no-repeat;
  background-position: 35% center;
  background-size: cover;
  pointer-events: none; /* allow clicks through */
  filter: brightness(0.8);
}

h1 {
  color: #ffffff;
  font-family: "Victor Mono", monospace;
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
  margin: 16px;
  text-shadow: 2px 2px 10px #000
}

h2 {
  color: #ffffff;
  font-family: "Victor Mono", monospace;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  margin: 16px;
  text-shadow: 2px 2px 20px #000
}

h3 {
  color: #ffffff;
  font-family: "Victor Mono", monospace;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  text-shadow: 2px 2px 10px #000;
}

p {
  color: #ffffff;
  font-family: "Victor Mono", monospace;
  text-shadow: 2px 2px 5px #000;
}

/* @media screen and (min-width: 480px) {
  .background {
    background-size: cover;
  }
}

@media screen and (min-width: 992px) {
  .background {
    background-position: unset;
    background-size: cover;
  }
} */

.container {
  position: fixed; /* anchor to viewport */
  inset: 0;
  z-index: 1;
  overflow-y: auto;       /* internal scrolling */
  -webkit-overflow-scrolling: touch;
  scrollbar-gutter: stable;
  background: rgba(39,39,39,0.0); /* transparent layer */
}

/* navbar */
.navbar {
  background-color: #000;
  height: 100px;
}

.signature {
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
  height: 50px;
  width: 300px;
}

#signature-gradient {
  --first: #0092D0;
  --second: #FDBE43;
  --third: #FF7500;
}

.signature .svg-group {
  stroke: url(#signature-gradient) #ffffff;
}

svg .draw {
  animation: animate 5s linear forwards;
  fill: transparent;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 20px;
}

@keyframes animate {
  from {
    stroke-dashoffset: 5000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
}

/* hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 100px);
}

.spacer {
  flex-grow: 1;
}

.hero h1 {
  flex: 1 1 0%;
  margin: 0px 24px 0px 0px;
  text-align: end;
}
/* end hero */
/* projects */
.projects-section {
  background-color: rgb(39, 39, 39, 0.9);
  padding: 16px 0;
  text-align: center;
}

.project-container {
  display: flex;
  padding: 32px 24px;
}

@media screen and (max-width: 992px) {
  .project-container {
    flex-direction: column;
  }

  .project-container:nth-child(odd) {
    flex-direction: column-reverse;
  }
}

.project-image {
  flex: 1 2 0px;
  margin: 0px 16px;
}

.project-image img {
  box-shadow: 2px 2px 4px #000;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.project-info {
  flex: 2 1 0px;
  margin: 0px 24px;
}

.project-info a {
  color: #ffffff;
  text-decoration: none;
}

.project-info a:hover {
  background: linear-gradient(to right, rgb(0, 140, 204, 0.9), rgb(255,179,0, 0.9), rgb(255,117, 0, 0.9));
  background-repeat: repeat-x;
  background-size: 100% 2px;
  background-position: 0 100%;
}
/* end projects */
/* skills */
.skills-section {
  background-image: linear-gradient(45deg, rgb(0, 140, 204, 0.9), rgb(255,179,0, 0.9), rgb(255,117, 0, 0.9));
  font-size: 32px;
  padding: 16px 0;
  text-align: center;
}

.skills-container {
  margin: 40px 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-row-gap: 32px;
  grid-column-gap: 50px;
}

.skills-container .icon-wrapper {
  filter: drop-shadow(2px 2px 20px #000);
}

.skills-container .icon-wrapper .icon {
  filter: invert(1);
  height: 64px;
  width: 64px;
}

@media screen and (min-width: 992px) {
  .skills-container {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}

@media screen and (min-width: 1280px) {
  .skills-container {
    grid-template-columns: repeat(6, minmax(150px, 1fr));
  }
}
/* end skills */
/* about */
.about-section {
  background-color: rgb(39, 39, 39, 0.9);
  padding: 16px 0;
}

.pic {
  box-shadow: 1px 1px 50px #000;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.about-section h2 {
  text-align: center;
}

.about-container {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 32px auto;
}

@media screen and (min-width: 992px) {
  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
  }
  .info {
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .info p:first-child {
    margin-top: 0px;
  }
}

.social {
  font-size: 64px;
  display: flex;
  justify-content: space-around;
}

.social .icon {
  height: 48px;
  width: 48px;
  filter: invert(1);
}
/* end about */
